{% extends 'core/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
<div class="container">
   <h1>سبد خرید</h1>

   {% for item in cart %}
      <div class="card mb-3" style="max-width: 540px;">
         <div class="row g-0">
         <div class="col-md-4">
            <img src="{{ item.product.get_thumbnail }}" class="img-fluid rounded-start" alt="...">
         </div>
         <div class="col-md-8">
            <div class="card-body">
               <h5 class="card-title"><b>موضوع : </b>{{ item.product.title }}</h5>
               <p class="card-text">
                  <small><a href="{% url 'change_quantity' item.product.id %}?action=decrease" class="btn btn-outline-primary">-</a></small>
                     <span class="btn btn-outline-primary">{{ item.quantity }}</span>
                  <small><a href="{% url 'change_quantity' item.product.id %}?action=increase" class="btn btn-outline-primary">+</a></small>
                  <br>
                  <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-danger mt-3">Remove From Cart</a>
               </p>
            </div>
         </div>
         </div>
      </div>
   {% endfor %}
   <strong>جمع پرداخت: </strong>{{ cart.get_total_cost }}

   <hr>
   <a href="{% url 'checkout' %}" class="btn btn-success">پرداخت</a></div>
{%endblock%}