<div class="container-fluid">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
      <div class="col mb-3">
        <a href="/" class="d-flex align-items-center mb-3 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <p class="text-body-secondary px-5">کلیه حقوق کپی برداری متعلق به این سایت می باشد.</p>
      </div>
  
      <div class="col mb-3">
  
      </div>
  
      <div class="col mb-3">
        <!-- <h5>Section</h5> -->
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">کتابخانه</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">درباره ما</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">گالری تصاویر</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">سبد من</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">فروشگاه من</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <!-- <h5>Section</h5> -->
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">دسته بندی</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">محصولات</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">فروشندگان</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">عضویت</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">اخبارسایت</a></li>
        </ul>
      </div>
  
      <div class="col mb-3">
        <!-- <h5>شبکه های اجتماعی</h5> -->
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">اینستاگرام</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">لینکدین</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">تلگرام</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">واتساپ</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">گیت</a></li>
        </ul>
      </div>
    </footer>
  </div>