{% extends 'core/base.html' %}
{% block title %}
   My Store
{% endblock %}

{% block content %}
   <h1>My Store</h1>

   {% if messages %}
      {% for message in messages %}
        <div>
          {{message}}
        </div>
      {% endfor %}
   {% endif %}
   <a href="{% url 'add_product' %}" class="btn btn-success">Add Product</a>

   <h2>My products</h2>



   {% if products %}
   {% include 'store/partials/product.html' %}
   {% else %}
      <div class="alert alert-warning" role="alert">
         You Dont Have Any Product Yet ... 
      </div>
   {% endif %}
    
{% endblock %}