{% extends 'core/base.html' %}
{% block title %}
   My Store
{% endblock %}

{% block content %}
<div class="container">
   <br>
   <h3>فروشگاه من</h3>

   {% if messages %}
      {% for message in messages %}
        <div>
          {{message}}
        </div>
      {% endfor %}
   {% endif %}
   <p>برای اضافه کردن محصول جدید از این قسمت استفاده نمایید.
      &nbsp&nbsp<a href="{% url 'add_product' %}" class="btn btn-success">اضافه کردن محصول</a></p>
   <br><br>

   <h2>محصولات من</h2>
   <br>
   <br>

</div>

   {% if products %}
   {% include 'store/partials/product.html' %}
   {% else %}
      <div class="alert alert-warning" role="alert">
         شما هنوز محصولی ایجاد نکرده اید .....
      </div>
      
   {% endif %}
    
{% endblock %}